.w-15 {
  width: 15% !important;
}
.like_btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  overflow: hidden;
}
.like_btn-size{
  width: 28px;
  height: 27px;
  background-color: #fff;
  overflow: hidden;
  font-size: 20px !important;
}
.tag-bg-color {
  background-color: #E12C43;
  height: 27px;
}
.tag-size{
  background-color: #E12C43;
  height: 22px;
  font-size: 11px !important;
}
.title_spacing {
  margin-top: -105px;
  margin-left: 10px;
  color: #1C0740;
}

.paper-root2 {
  box-shadow: 0px 0px 3px #d2d2d2 !important;
}
.h-70{
  height: 70% !important;
}
.h-30{
  height: 30% !important;
}
.text-styling{
  color: #1C0740 !important;
  height: 25px!important;
}
.pricing-style{
  color: rgb(223, 31, 63);
  text-decoration: line-through; 
}



